<html>
    <head>

    </head>

    <body>
        <form action="/createNewFile" method="post">
            <div>
                <div><label for="title">File Name</label></div>
                <input type="text" id="title" name="title">
            </div>
            

            <div>
                <div><label for="content">File Content</label></div>
                
                <textarea id="content" name="content" style="width:300px;height:300px; "></textarea>
            </div>
            

            <button>Submit</button>
        </form>
    </body>
</html>